	* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	margin: 1.25em, 1em;
}

#wrapper {
	width: 100%;
	margin: 0px auto;
}

nav [role="select"] {
	width: 100%;
	position: relative;
    margin:0px auto;
}
nav[role="select"] select {
	display: none;
}
nav[role="select"] ul {
    width:100%;
    list-style:none;
}
nav[role="select"] ul li {
	float: left;
	padding: .55em .45em;
	width: 19%;
	font-size: 1.2em;
	background-color: black;
	text-align: center;
	cursor: pointer;
}

nav[role="select"] ul li a {
	color: white !important;
	text-decoration: none;
}

nav[role="select"] ul li a:hover {
	color: #00A86B !important;
}
@media screen and (max-width: 44em) {
		body {
			margin: 1em 0;
		}
		nav[role="select"] ul {
			display: none;
		}
		nav[role="select"]:after {
			position: absolute;
			z-index: -1;
			content: "Menu";
			right: 0;
			bottom: -1.75em;
			background: rgba(174, 86, 168, 0.4);
			padding: .15em .55em;
		}
		nav[role="select"] select {
            clear:both;
			display: block;
			user-select: none;
			cursor: pointer;
			width: 100%;
			padding: .55em .45em;
			border: none;
			font: 1.2em 'Exo', sans-serif;
		}
	}