	* {
    padding:0px;
	margin: 0px;
	box-sizing: border-box;
}

html,
body {
	max-width:100%;
	max-height: 100%;
}
body {
    width:100%;
    color:white;
    font-family:'Roboto', sans-serif;
}
body.home-page {
    background-image:url(../images/concert-pick.jpeg);
    color:white;
    font-family:'Roboto', sans-serif;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body.news-page {
    background-color:black;
}
body.login-page {
    background:black;
}
/*Nav section*/
.nav-holder {
    width:100%;
    margin: 0px auto;
}
.logo-img {
    width:52px;
    float:left;
}
nav [role="select"] {
	width: 100%;
    margin:0px auto;
    background:black;

}
nav[role="select"] select {
	display: none;
    background-color: black;
    color:white;
    font-family:inherit;
}
.select-menu.styling {
    
}
nav[role="select"] ul {
    width:100%;
}
nav[role="select"] ul li {
	float: left;
	width: 11%;
	font-size: 1.2em;
    padding-top:.75em;
    padding-bottom:.75em;
	background-color: black;
	text-align: center;
	cursor: pointer;
    list-style-type:none;
}
nav[role="select"] ul li a {
	color: white !important;
	text-decoration: none;
}
nav[role="select"] ul li a:hover {
	color: #FF5948 !important;
}
/*Grid defintion*/
.grid-item-container {
    clear:both;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap:1em;
    grid-template-rows: 100px 100px 100px;
}
/*Header & page 1*/
header {
    grid-column-start:4;
    grid-column-end:12;
    grid-row-start:6;
}
.primary-headline-holder {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    justify-content: center;
    color:white;
} 
h1 {
    color:white;
    font-size:5em;
    font-family:'Roboto-Slab', sans-serif;
}

.main-page-subtext {
    font-size:1.5em;
    grid-column-start:5;
    grid-column-end:8;
    grid-row-start: 5;
    justify-content:center;
}

.headline-two-holder {
    font-size:4em;
    grid-column-start:6;
    grid-row-start: 1;
    margin-bottom:10%;
}

h3.news-title {
    margin-top:2.5%;
    margin-bottom:2.5%;
    font-size:1.8em;
}
/*News page*/
.twitter-holder {
    grid-column-start: 1;
    grid-column-end:5;
    grid-row-start: 1;
    grid-row-end:auto;
    max-width:100%;
}

.articles-holder {
    grid-column-start:5;
    grid-column-end:9;
    grid-row-start:2;    
}

.news-text {
    margin: 5%;
    
}
.news-img-holder {
    display:flex;
    justify-content:center;
}
.fig-cap-text {
    max-width:100%;
    margin-top:0px;
    font-size:.9em;
    color:lightgray;
}
.news-img {
    max-width:100%;
    margin:0px auto;
    
}

.instagram-feed-holder {
    grid-column-start:9;
    grid-column-end:12;
}
/*Login page test*/
#login-error-msg-holder {
    grid-column-start:6;
    grid-row-start:5;
}

#login-error-msg {
    opacity:0;
    text-align:center;
    background:red;
    color:lightgray;    
}

.login-headline {
    grid-column-start:6;
    grid-row-start:2;
    font-size:4em;
}
.login-form-holder {
    grid-column-start:6;
    grid-row-start:3;
}
.login-form {
    color:black;
    background:white;
    border-radius:3px;
    outline:none;
}

/*Alt media*/
@media screen and (max-width: 500px) {
		body {
            max-width:100%;
		}
/*header and page1*/
    header {
    grid-column-start:4;
    grid-column-end:12;
    grid-row-start:4;
}
         h1 {
        font-size:3.5em;
    }
    .main-page-subtext {
        font-size:.8em;
    }
/*nav*/
		nav[role="select"] ul.first-nav-bar {
			display: none;
		}
		nav[role="select"]:after {
			position: absolute;
			z-index: -1;
			right: 0;
			bottom: -1.75em;
			background: rgba(174, 86, 168, 0.4);
/*			padding: .15em .55em;*/
		}
		nav[role="select"] select {
            clear:both;
			display: block;
			user-select: none;
			cursor: pointer;
			width: 100%;
			padding: .55em .45em;
			border: none;
			font: 1.2em 'Exo', sans-serif;
		}
/*news*/
    .news-page {
        max-width:120%;
    }
    .news-page-text-holder {
        font-size:.5em;
        width:100%;
        margin-left:-10%;
    }
    .twitter-holder {
        display:none;
    }
    .instagram-feed-holder {
        display:none;
    }
	}